In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import datetime
import pytz
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

In [2]:
wine_df = pd.read_csv('Final_DataFrames\FINAL_training_data_Model2_FINAL.csv')

In [3]:
wine_df.head()

,Producer,WineType,District,Year,Ratings_Average,Price,Acidity,Intensity,Sweetness,Tannin,...,December Cumulative Rain (mm),December Cumulative Snow (mm),December Cumulative Precip (mm),December Avg Cloud Cover (%),December Max Wind Speed (Km/h),December Min Wind Speed (Km/h),December Avg Wind Speed (Km/h),December Avg Daylight Hours,December Days Below 0 (°C),December Days Above 32 (°C)
0,trinite estate,acaibo,Sonoma,2018,4.1,100.8,4.0,5.0,1.0,4.5,...,75.900000,0.00,75.900000,60.690860,25.346148,0.36,6.735369,9.532272,0.0,0.0
1,trinite estate,acaibo,Sonoma,2016,4.1,100.8,4.0,5.0,1.0,4.5,...,118.899999,0.00,118.899999,54.302419,19.645580,0.00,6.646974,9.530239,0.0,0.0
2,trinite estate,acaibo,Sonoma,2015,4.1,100.8,4.0,5.0,1.0,4.5,...,145.100001,0.00,145.100001,62.354838,26.302181,0.36,7.692760,9.533807,0.0,0.0
3,trinite estate,acaibo,Sonoma,2014,4.2,100.8,4.0,5.0,1.0,4.5,...,280.000000,0.00,280.000000,73.610215,34.093730,0.36,7.827738,9.532552,0.0,0.0
4,trinite estate,acaibo,Sonoma,2013,4.1,100.8,4.0,5.0,1.0,4.5,...,8.500000,0.07,8.570000,26.384409,18.218275,0.36,5.389955,9.531514,0.0,0.0

In [4]:
dist_df = pd.read_csv('Final_DataFrames\Wine_districts_lat_lon.csv')

In [5]:
wine_dist_df = pd.merge(wine_df, dist_df, on='District', how='left')

In [6]:
wine_dist_df

,Producer,WineType,District,Year,Ratings_Average,Price,Acidity,Intensity,Sweetness,Tannin,...,December Days Below 0 (°C),December Days Above 32 (°C),Country,State,Dist_Latitude,Dist_Longitude,State_Latitude,State_Longitude,Country_Latitude,Country_Longitude
0,trinite estate,acaibo,Sonoma,2018,4.1,100.80,4.0,5.0,1.0,4.5,...,0.0,0.0,United States,California,38.2919,-122.4580,36.7783,-119.4179,37.0902,-95.7129
1,trinite estate,acaibo,Sonoma,2016,4.1,100.80,4.0,5.0,1.0,4.5,...,0.0,0.0,United States,California,38.2919,-122.4580,36.7783,-119.4179,37.0902,-95.7129
2,trinite estate,acaibo,Sonoma,2015,4.1,100.80,4.0,5.0,1.0,4.5,...,0.0,0.0,United States,California,38.2919,-122.4580,36.7783,-119.4179,37.0902,-95.7129
3,trinite estate,acaibo,Sonoma,2014,4.2,100.80,4.0,5.0,1.0,4.5,...,0.0,0.0,United States,California,38.2919,-122.4580,36.7783,-119.4179,37.0902,-95.7129
4,trinite estate,acaibo,Sonoma,2013,4.1,100.80,4.0,5.0,1.0,4.5,...,0.0,0.0,United States,California,38.2919,-122.4580,36.7783,-119.4179,37.0902,-95.7129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45986,quinta vale d. maria,vinhas do sabor superior tinto,Freixo de Espada a Cinta,2006,4.3,103.14,3.0,5.0,1.0,4.0,...,NaN,NaN,Portugal,Bragança,41.0923,-6.8057,41.8058,-6.7569,39.3999,-8.2245
45987,quinta vale d. maria,vinhas do sabor superior tinto,Freixo de Espada a Cinta,2005,4.0,103.14,3.0,5.0,1.0,4.0,...,NaN,NaN,Portugal,Bragança,41.0923,-6.8057,41.8058,-6.7569,39.3999,-8.2245
45988,quinta vale d. maria,vinhas do sabor superior tinto,Freixo de Espada a Cinta,2004,4.0,103.14,3.0,5.0,1.0,4.0,...,NaN,NaN,Portugal,Bragança,41.0923,-6.8057,41.8058,-6.7569,39.3999,-8.2245
45989,quinta vale d. maria,vinhas do sabor superior tinto,Freixo de Espada a Cinta,2003,4.2,103.14,3.0,5.0,1.0,4.0,...,NaN,NaN,Portugal,Bragança,41.0923,-6.8057,41.8058,-6.7569,39.3999,-8.2245
45990,quinta vale d. maria,vinhas do sabor superior tinto,Freixo de Espada a Cinta,2002,4.1,103.14,3.0,5.0,1.0,4.0,...,NaN,NaN,Portugal,Bragança,41.0923,-6.8057,41.8058,-6.7569,39.3999,-8.2245

In [7]:
countries = wine_dist_df['Country'].unique().tolist()
countries

['United States',
 'Canada',
 'Argentina',
 'Australia',
 'Italy',
 'France',
 'Chile',
 'Spain',
 'Portugal']

In [8]:
states = wine_dist_df['State'].unique().tolist()
states

['California',
 'British Columbia',
 'Mendoza',
 'South Australia',
 'Tuscany',
 'Umbria',
 'Marche',
 'Lazio',
 'Nouvelle-Aquitaine',
 'Coquimbo',
 'La Rioja',
 'Bragança']

In [9]:
districts = wine_dist_df['District'].unique().tolist()
len(districts)

31

In [10]:
regions_gdf = gpd.read_file(r"C:\Users\j1wag\Desktop\Masters Year 1\Semester 1\CME538\Final Assignment\GeoJsonFiles\GeoJsonFiles\geoBoundariesCGAZ_ADM1_regions.geojson")
regions_gdf

,shapeName,shapeID,shapeGroup,shapeType,geometry
0,Kandahar,12653393B40111500734429,AFG,ADM1,"POLYGON ((65.24153 32.2863, 65.12687 32.03679,..."
1,Zabul,12653393B56617740339660,AFG,ADM1,"POLYGON ((67.60666 31.44378, 67.70162 31.51373..."
2,Uruzgan,12653393B46006342616872,AFG,ADM1,"POLYGON ((66.27519 32.4255, 66.35907 32.60925,..."
3,Daykundi,12653393B78791504725813,AFG,ADM1,"POLYGON ((66.76157 33.25547, 66.92827 33.59694..."
4,Ghanzi,12653393B29313712249365,AFG,ADM1,"POLYGON ((68.06945 32.04564, 68.06011 32.45619..."
...,...,...,...,...,...
3219,Sanafir & Tiran Is.,DIS016,126,DISP,"MULTIPOLYGON (((34.69143 27.95899, 34.69119 27..."
3220,Senkakus,DIS017,127,DISP,"POLYGON ((123.47986 25.7507, 123.47791 25.7520..."
3221,Spratly Is,DIS018,128,DISP,"POLYGON ((114.33955 11.44331, 114.3383 11.4445..."
3222,West Bank,DIS019,129,DISP,"POLYGON ((35.53047 31.70771, 35.53588 31.71978..."
3223,Western Sahara,DIS020,ESH,DISP,"POLYGON ((-8.66761 27.66727, -8.66799 27.66727..."

In [11]:
districts_gdf = gpd.read_file(r"C:\Users\j1wag\Desktop\Masters Year 1\Semester 1\CME538\Final Assignment\GeoJsonFiles\GeoJsonFiles\geoBoundariesCGAZ_ADM2_districts.geojson")
districts_gdf

,shapeName,shapeID,shapeGroup,shapeType,geometry
0,Deh Bala,17698898B67359070524975,AFG,ADM2,"POLYGON ((70.51142 33.9492, 70.51889 33.95499,..."
1,Gulran,17698898B98443198567384,AFG,ADM2,"POLYGON ((62.0076 35.44597, 62.00551 35.44639,..."
2,Koshk,17698898B82675281335003,AFG,ADM2,"POLYGON ((61.99554 34.74465, 62.0176 34.73953,..."
3,Chaparhar,17698898B74585757664988,AFG,ADM2,"POLYGON ((70.41933 34.23071, 70.42355 34.27594..."
4,Koshki Kohna,17698898B84066352785355,AFG,ADM2,"POLYGON ((62.41693 34.67412, 62.50038 34.67112..."
...,...,...,...,...,...
49344,Sanafir & Tiran Is.,DIS016,126,DISP,"MULTIPOLYGON (((34.69143 27.95899, 34.69119 27..."
49345,Senkakus,DIS017,127,DISP,"POLYGON ((123.47986 25.7507, 123.47791 25.7520..."
49346,Spratly Is,DIS018,128,DISP,"POLYGON ((114.33955 11.44331, 114.3383 11.4445..."
49347,West Bank,DIS019,129,DISP,"POLYGON ((35.55865 31.7635, 35.55857 31.76376,..."
49348,Western Sahara,DIS020,ESH,DISP,"POLYGON ((-8.66799 27.66727, -8.70583 27.66727..."

In [12]:
regions_gdf[regions_gdf['shapeName'].isin(states)]

,shapeName,shapeID,shapeGroup,shapeType,geometry
114,California,66186276B43071933723331,USA,ADM1,"MULTIPOLYGON (((-118.60443 33.47856, -118.5752..."
174,Mendoza,19177384B51705615570562,ARG,ADM1,"POLYGON ((-66.56586 -35.98663, -66.45481 -35.3..."
237,South Australia,82085004B14973555098025,AUS,ADM1,"MULTIPOLYGON (((133.54444 -32.29146, 133.54459..."
437,Nouvelle-Aquitaine,19338628B12418907782041,FRA,ADM1,"MULTIPOLYGON (((-1.41248 46.18439, -1.4117 46...."
626,British Columbia,82249235B24619009834807,CAN,ADM1,"MULTIPOLYGON (((-130.35123 53.50914, -130.3535..."
2473,La Rioja,25490228B81978515469630,ESP,ADM1,"POLYGON ((-2.85809 42.63821, -2.8596 42.63649,..."

In [13]:
districts_gdf[districts_gdf['shapeName'].isin(districts)]

,shapeName,shapeID,shapeGroup,shapeType,geometry
1473,San Luis Obispo,52423323B67227670427960,USA,ADM2,"POLYGON ((-121.34638 35.79519, -121.34307 35.7..."
2472,Tulare,52423323B44496470224494,USA,ADM2,"POLYGON ((-118.3606 36.74478, -118.55504 36.73..."
2661,Napa,52423323B42957866846180,USA,ADM2,"POLYGON ((-122.39507 38.86425, -122.3735 38.81..."
2792,Sonoma,52423323B39454223771984,USA,ADM2,"POLYGON ((-122.4068 38.15564, -122.3668 38.247..."
2946,Mendocino,52423323B12422674135738,USA,ADM2,"POLYGON ((-122.93403 39.97814, -123.54458 39.9..."
3976,San Carlos,61730980B20324539983987,ARG,ADM2,"POLYGON ((-66.2086 -26.1357, -66.2074 -26.1294..."
4151,Tunuyán,61730980B64785063825959,ARG,ADM2,"POLYGON ((-68.99736 -33.53927, -69.00033 -33.5..."
4216,Tupungato,61730980B55098803042234,ARG,ADM2,"POLYGON ((-68.79776 -33.39044, -68.7973 -33.38..."
4252,San Rafael,61730980B42121604183922,ARG,ADM2,"POLYGON ((-68.45261 -34.21076, -68.45861 -34.2..."
4254,San Carlos,61730980B94822321270328,ARG,ADM2,"POLYGON ((-68.29034 -33.46136, -68.59348 -33.4..."
4335,Luján de Cuyo,61730980B1211136539314,ARG,ADM2,"POLYGON ((-68.68456 -33.24731, -68.68429 -33.2..."
5302,Barossa,25037944B31531764292735,AUS,ADM2,"POLYGON ((139.04178 -34.81532, 139.04393 -34.8..."
5309,Clare and Gilbert Valleys,25037944B42711318671021,AUS,ADM2,"POLYGON ((138.5445 -33.65913, 138.54409 -33.66..."
5338,Onkaparinga,25037944B62747843124796,AUS,ADM2,"POLYGON ((138.67605 -35.03007, 138.67555 -35.0..."
5361,Wattle Range,25037944B1081142143908,AUS,ADM2,"POLYGON ((140.97318 -37.35822, 140.97307 -37.3..."
5367,Unincorporated SA,25037944B19571193858150,AUS,ADM2,"MULTIPOLYGON (((136.45222 -35.1458, 136.45008 ..."
6709,San Rafael,7082276B22021388124839,COL,ADM2,"POLYGON ((-74.82822 6.33866, -74.83287 6.34221..."
7008,San Carlos,7082276B57278693475313,COL,ADM2,"POLYGON ((-75.11781 6.23536, -75.12094 6.23101..."
7227,San Carlos,7082276B45851614752586,COL,ADM2,"POLYGON ((-75.67831 8.51408, -75.67823 8.51547..."
13435,Charente,29444166B23450851942643,FRA,ADM2,"POLYGON ((-0.10312 45.96966, -0.10351 45.96763..."
13441,Creuse,29444166B65722517525705,FRA,ADM2,"POLYGON ((2.28109 46.42047, 2.27783 46.42072, ..."
13442,Dordogne,29444166B3241556097254,FRA,ADM2,"POLYGON ((0.00424 45.19167, 0.00399 45.18976, ..."
13451,Gironde,29444166B86553747081520,FRA,ADM2,"MULTIPOLYGON (((-1.01634 44.65529, -1.01882 44..."
13497,Deux-Sèvres,29444166B3130633303914,FRA,ADM2,"POLYGON ((0.19745 46.09541, 0.19648 46.09632, ..."
14656,Vancouver Island and Coast / *,811477B94175417420797,CAN,ADM2,"MULTIPOLYGON (((-126.60911 53.00028, -126.6297..."
14658,Thompson--Okanagan,811477B2093292378449,CAN,ADM2,"POLYGON ((-119.29492 49.00005, -119.30151 49.0..."
14662,Nechako,811477B50846318398433,CAN,ADM2,"POLYGON ((-135.71672 59.72937, -135.69546 59.7..."
14697,San Rafael,36466004B33619943127012,CRI,ADM2,"POLYGON ((-84.04397 10.06261, -84.04458 10.064..."
14731,San Carlos,36466004B93009353653886,CRI,ADM2,"POLYGON ((-84.16119 10.78541, -84.16148 10.785..."
15685,Provincia de Elqui,35621905B31470436966302,CHL,ADM2,"POLYGON ((-69.9532 -29.49877, -69.96631 -29.49..."
19650,San Rafael,79315794B12575080956445,SLV,ADM2,"POLYGON ((-89.07478 14.13966, -89.07959 14.135..."
19820,San Rafael,79315794B33674130591539,SLV,ADM2,"POLYGON ((-88.38431 13.43777, -88.39062 13.412..."
19850,San Carlos,79315794B31320267138614,SLV,ADM2,"POLYGON ((-88.14961 13.61981, -88.14147 13.608..."
21980,San Rafael,27666195B54610294304045,HND,ADM2,"POLYGON ((-88.34792 14.65252, -88.33836 14.660..."
24731,Toscana,23120603B95153686365028,ITA,ADM2,"MULTIPOLYGON (((10.31862 42.34687, 10.31701 42..."
24732,Umbria,23120603B26790412086965,ITA,ADM2,"MULTIPOLYGON (((12.42531 43.60909, 12.42345 43..."
24733,Marche,23120603B49951072422318,ITA,ADM2,"POLYGON ((12.4874 43.89647, 12.48077 43.8968, ..."
24734,Lazio,23120603B86473916475875,ITA,ADM2,"MULTIPOLYGON (((12.98497 40.93541, 12.98356 40..."
31486,San Carlos,50627088B50808135515574,MEX,ADM2,"POLYGON ((-99.21289 24.77167, -99.19768 24.731..."
31788,San Rafael,50627088B57037698095260,MEX,ADM2,"POLYGON ((-96.9431 20.1349, -96.94072 20.13463..."
32517,San Carlos,35544464B52564118130817,PAN,ADM2,"POLYGON ((-80.04338 8.4095, -80.04301 8.40951,..."
32779,San Carlos,47425931B6950214769686,PRY,ADM2,"POLYGON ((-57.05042 -22.23169, -57.05052 -22.2..."
33730,Torre de Moncorvo,2272694B40745083839882,PRT,ADM2,"POLYGON ((-7.02105 41.05076, -7.00752 41.12277..."
33731,Freixo de Espada a Cinta,2272694B39010061947552,PRT,ADM2,"POLYGON ((-6.92939 41.0291, -6.92968 41.03027,..."
40645,"Rioja, La",93216281B63633419505726,ESP,ADM2,"POLYGON ((-2.85809 42.6382, -2.8596 42.63649, ..."
43937,San Carlos,84410073B16503485399058,URY,ADM2,"POLYGON ((-55.02985 -34.79668, -55.01961 -34.7..."
44436,San Carlos,92452058B56896825974617,VEN,ADM2,"POLYGON ((-68.73105 9.52524, -68.72805 9.52584..."

In [14]:
all_wines_df = pd.read_csv('all_filtered_winebottle_v1.csv')

In [15]:
country_gdf = gpd.read_file(r"C:\Users\j1wag\Desktop\Masters Year 1\Semester 1\CME538\Final Assignment\GeoJsonFiles\GeoJsonFiles\custom_country.geo.JSON")

In [16]:
country_gdf = country_gdf[country_gdf['sovereignt'].isin(countries + ['United States of America'])]
country_gdf = country_gdf[country_gdf['admin'] == country_gdf['sovereignt']]
country_gdf = country_gdf[['sovereignt', 'geometry']]
country_gdf = country_gdf.replace('United States of America', 'United States')
country_gdf = country_gdf.rename(columns={'sovereignt': 'Country'})

In [17]:
country_statistics = all_wines_df[all_wines_df['Country'].isin(countries)].groupby('Country').agg(
    Wine_Count=('Country', 'value_counts'),  
    Tannin_Mean=('Tannin', 'mean'),
    Acidity_Mean=('Acidity', 'mean'),
    Intensity_Mean=('Intensity', 'mean'),
    Sweetness_Mean=('Sweetness', 'mean'),
    Price = ('amount', 'mean'),
    Rating = ('ratings_average', 'mean')    
    )

country_statistics['Price_Rating'] = country_statistics['Price'] / country_statistics['Rating']
country_statistics = country_statistics.round(2)
country_statistics = country_statistics.reset_index(drop = False)

# Define columns to merge
columns_to_merge = ['Country', 'Country_Latitude', 'Country_Longitude']
wine_dist_df_subset = wine_dist_df[columns_to_merge]

# Merge the DataFrames on 'Country'
country_statistics_final = pd.merge(country_statistics, country_gdf, on='Country', how='left')

country_statistics_final

,Country,Wine_Count,Tannin_Mean,Acidity_Mean,Intensity_Mean,Sweetness_Mean,Price,Rating,Price_Rating,geometry
0,Argentina,4796,3.02,3.13,4.01,1.37,45.86,3.91,11.73,"MULTIPOLYGON (((-68.63401 -52.63637, -68.25 -5..."
1,Australia,4877,3.55,3.57,4.47,1.06,57.56,3.96,14.54,"MULTIPOLYGON (((147.68926 -40.80826, 148.28907..."
2,Canada,1408,3.41,3.60,3.47,1.00,38.54,3.86,9.99,"MULTIPOLYGON (((-122.84 49, -122.97421 49.0025..."
3,Chile,2196,2.86,2.83,4.34,1.05,58.02,3.84,15.12,"MULTIPOLYGON (((-68.63401 -52.63637, -68.63335..."
4,France,27271,3.52,3.96,3.76,1.03,149.05,4.06,36.75,"MULTIPOLYGON (((-51.6578 4.15623, -52.24934 3...."
5,Italy,35999,3.56,3.57,3.70,1.26,78.04,4.00,19.49,"MULTIPOLYGON (((10.4427 46.89355, 11.04856 46...."
6,Portugal,2162,3.72,3.12,4.59,1.08,59.30,3.94,15.04,"POLYGON ((-9.03482 41.88057, -8.67195 42.13469..."
7,Spain,7927,3.90,3.63,4.18,1.00,67.45,3.96,17.02,"POLYGON ((-7.45373 37.09779, -7.53711 37.4289,..."
8,United States,29775,3.32,3.36,4.23,1.09,117.16,4.10,28.55,"MULTIPOLYGON (((-122.84 49, -120 49, -117.0312..."